.banner-principal__img
  animation-name: swing
  animation-duration: 3.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

@keyframes swing
  0%
    transform: translatey(0px)    
  50%
    transform: translatey(-10px)
  100%
    transform: translatey(0px)

.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto    

.BorTit
  border-left: 5px solid #339CE9
  padding: 6px 0px 6px 10px     
  
.BorTit_table
  border-left: 5px solid #EA3065
  padding: 6px 0px 6px 10px    

.list 
  width: 100%
  display: flex !important
  &__item 
    &__bulletNumber 
      position: relative
      width: 30px
      height: 30px
      margin-right: 1rem
      text-align: center
      border-radius: 50%
      background-color: #BF3976
      span 
        color: white
        font-weight: 700
        font-size: small
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
      
    
    &__number 
      position: relative
      margin-right: 0.5rem
      span 
        color:#BF3976
        font-size: 13pt
        font-weight: 700
        line-height: 1.2
      
    
    &__icon 
      position: relative
      width: 10px
      margin-right: 0.65rem
      margin-top: 4px
      img 
        width: 10px
        vertical-align: middle
        
  &__txt 
    p:first-child,
    h3:first-child 
      margin-top: 0px  

.bloque-texto-a.color-secundario
  background-color: #E8E8E8 !important
  
.bloque-texto-a.color-secundario::before
  background-color: #7CC5FF !important      

.tabla-a.color-secundario thead 
    border-color: #EA3065 !important 

.bg-cajon-color-1
  background-color: lighten(#339CE9,30%) !important

.cajon.color-primario
  background-color: #F2D6E3 !important

.text-just
  display: flex
  align-items: center      

.border
  border: 10px solid white !important

.border-1
  border: 10px solid #D8ECFF !important

.border-2
  border: 10px solid #FAFAFA  !important  

.card-color-1
  background-color: lighten(#7CC5FF,15%) !important 
  border: 5px solid white  

.card-color-2
  background-color: lighten(#BF3976,30%) !important 
  border: 5px solid white    

.img-infografica__item__dot::before
  width: 200% !important
  height: 200% !important

.img-infografica__item__dot::after
  width: 200% !important
  height: 200% !important

.color-p-card
  color: $color-sistema-texto !important

.img-infografica__card
  width: 500px !important

.img-card-color-1    
  background-color: lighten(#7CC5FF,20%) !important   

.card-border
  border: 2px solid #339CE9 !important

.ml
  margin-left: 1rem

.mr
  margin-right: 0  !important

.modal-a__content  
  background-color: lighten(#7CC5FF,20%) !important 

.beat
  animation: beat 2.0s
  animation-iteration-count: infinite

@keyframes beat 
  0%  
    transform: scale(1.0)

  50%  
    scale: (1.1)

  100%  
    scale: scale(1.0)    

.imagen-titulo--der::before
  top: -10px !important
  border-radius: 0px !important

.color-secundario.imagen-titulo--der::before
  background-color: #339CE9 !important

.card-num
  background-color: #D2E1F1 

.card-num-text
  background-color: #F3F9FF    

.p-center   
  align-content: center !important   

.display-mum
  display: contents !important

.bloque-texto-b.color-secundario::before  
  background-color: lighten(#7CC5FF,20%) !important   

.pasos-a.color-acento-contenido .pasos-a__circle div
  color: white !important  

.pasos-bg-1
  background-color: lighten(#F2D6E3,9%) !important 

.tabs-a.color-acento-botones .tabs-a__tab:hover
  background-color: #EA3065 !important

.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #EA3065 !important

.tabs-a.color-acento-botones .tabs-a__tab__selected::before    
  background-color: #EA3065 !important


.tarjeta.color-acento-botones--borde
  background-color:  lighten(#7CC5FF, 23%)
  color: #12263F
  border: solid 4px  lighten(#7CC5FF, 23%)         

.acor-bg-1
  background-color: lighten(#7CC5FF, 23%) 

.shake
  animation: shake 6.5s
  animation-iteration-count: infinite

@keyframes shake 
  0% 
    transform: translate(1px, 1px) rotate(-1deg)
  10%  
    transform: translate(-1px, -2px) rotate(0deg)
  20% 
    transform: translate(-3px, 0px) rotate(1deg)
  30% 
    transform: translate(3px, 0px) rotate(-1deg)
  40% 
    transform: translate(1px, -2px) rotate(0deg)
  50%  
    transform: translate(-1px, 1px) rotate(-1deg)
  60% 
    transform: translate(1px, -2px) rotate(0deg)
  70%  
    transform: translate(-3px, 0px) rotate(-1deg)
  80%
    transform: translate(3px, 0px) rotate(0deg)
  90%  
    transform: translate(1px, -2px) rotate(-1deg)
  100%  
    transform: translate(1px, 1px) rotate(0deg)   

.box-1
  background-color: #F3F9FF

.box-2
  background-color: #E4F1FF

.rotate
  animation-name: spin
  animation-duration: 3.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

@keyframes spin
  0%
    transform: rotate(0deg) 
    transform: translatey(0px)          
  25%
    transform: rotate(-5deg)
  50%
    transform: rotate(0deg) 
    transform: translatey(-5px)          
  75%
    transform: rotate(5deg)
  100%
    transform: rotate(0deg)
    transform: translatey(0px)           

.tabs-c.color-acento-contenido .tabs-c__tab--active
  font-weight: bold !important

.tabs-a.color-acento-contenido .tabs-a__tab:hover
  background-color: #339CE9 !important

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  background-color: #339CE9 !important

.tabs-a.color-acento-contenido .tabs-a__tab__selected::before
  background-color: #339CE9 !important

.tabs-a.color-acento-contenido .tabs-a__tab:hover
  color: white !important
.tabs-a.color-acento-contenido .tabs-a__tab__selected
  color: white !important
.tarjeta.color-acento-contenido--borde
  background-color: lighten(#7CC5FF,18% ) 
  border: 4px lighten(#7CC5FF,18% ) solid !important

.bloque-texto-b.color-secundario::before
  background-color: lighten( #F2D6E3, 5%) !important  
.bloque-texto-b::before
  right: 80% !important  
  left: 0% !important

.bloque-texto-d.color-secundario::before
  background-color: lighten( #F2D6E3, 5%) !important  
.bloque-texto-d::before
  right: 80% !important  
  left: 0% !important 
  top: 0 !important
  bottom: 40% !important   
.bloque-texto-d 
    border-top: 0px solid #339CE9;  

.tarjeta--gris
  background-color: #FAFAFA !important    
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot 
  border-color: #471E89 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot::after 
  background-color: #471E89 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container::after 
  background-color: #471E89 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot     
  border-color: #471E89 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container::before   
  background-color: #471E89 !important  
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container::before   
  background-color: #471E89 !important    